{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Page Title  -->
    <title>{% block title %} {% endblock %}</title>
    <!-- StyleSheets  -->
    {% include "desktop/includes/css.html" %}
</head>
<body class="nk-body npc-crypto has-sidebar has-sidebar-fat ui-clean ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            {% include "desktop/includes/menu.html" %}
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                {% include "desktop/includes/top_bar.html" %}
                <!-- main header @e -->
                <!-- content @s -->
                {% block body_content %}
  				{% endblock %}
                <!-- content @e -->
                <!-- footer @s -->
                {% include "desktop/includes/footer.html" %}
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    {% include "desktop/includes/js.html" %}
    {% block foot_script %}
    {% endblock %}
</body>
</html>