{% load static %}
<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/charts/chart-crypto.js' %}"></script>
<script src="{% static 'js/example-sweetalert.js' %}"></script>