/*!
 * Theme: Green
 * Package: DashLite v1.5.0
 * Updated: 05.13.2020
 * Author: Softnio
 * Author URI: http://themeforest.net/user/softnio
**/
.nk-sidebar.is-dark { background: #0f192a; border-right-color: #1c2f50; }

.nk-sidebar.is-theme { background: #064936; border-right-color: #0a7859; }

.is-dark .nk-sidebar-head { border-color: #1c2f50; }

.is-theme .nk-sidebar-head { border-color: #0a7859; }

.nk-sidebar.is-dark .user-balance-alt, .nk-sidebar.is-theme .user-balance-alt { color: rgba(255, 255, 255, 0.8); }

.nk-header { background: #f5f6fa; border-bottom-color: #e5e9f2; }

.nk-header.is-dark:not([class*=bg-]) { background: #0f192a; }

.nk-header.is-theme:not([class*=bg-]) { background: #064936; }

.is-dark .nk-menu-link { color: #8699b2; }

.is-dark .nk-menu-icon { color: #9faec2; }

.is-dark .nk-menu-badge { color: #34edba; background: #1c2f50; }

.is-dark .nk-menu-sub .active > .nk-menu-link, .is-dark .nk-menu-link:hover, .is-dark .active > .nk-menu-link, .is-dark .nk-menu-link:hover .nk-menu-icon, .is-dark .nk-menu-item.active > .nk-menu-link .nk-menu-icon, .is-dark .nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon { color: #13dba4; }

.is-dark .nk-news-icon .icon { color: #0fac81; }

.is-dark .nk-news-text .icon { color: #8094ae; }

.is-dark .nk-news-text p span { color: rgba(128, 148, 174, 0.9); }

.is-dark .user-name, .is-dark .nk-news-text p { color: #90a1b8; }

.is-dark .nk-quick-nav-icon { color: #9faec2; }

.is-theme .nk-menu-link { color: #a3dfcf; }

.is-theme .nk-menu-icon { color: #c2eadf; }

.is-theme .nk-menu-badge { color: #63f1ca; background: #0a7859; }

.is-theme .short-menu .nk-menu-item.active .nk-menu-link, .is-theme .short-menu .nk-menu-link:hover, .is-theme .short-menu .nk-menu-link.active { background-color: #03231a; }

.is-theme .nk-news-icon .icon { color: #1cebb3; }

.is-theme .nk-news-text .icon, .is-theme .nk-quick-nav-icon, .is-theme .overline-title { color: #abe2d3; }

.is-theme .nk-news-text p span, .is-theme .nk-menu-heading .overline-title { color: rgba(171, 226, 211, 0.8); }

.is-theme .user-name, .is-theme .nk-news-text p { color: #bee9dd; }

.card-tools-nav li a:before, .nav-tabs .nav-link:after, .progress-bar, .dot-primary, .alert-fill.alert-primary, .badge-primary, .icon-circle, .noUi-connect, .nk-kycfm-label::after, .plan-item-card:after, .buysell-pm-label:after, .sp-package-choose ~ label:after, .ticket-msg-attach-list a .icon, .nk-msg-menu-item a:after, .ui-shady .nk-msg-item.active:after, .ui-shady .nk-msg-item.current:after, .ui-softy .nk-msg-item.active:after, .ui-softy .nk-msg-item.current:after { background: #0fac81; }

.card-bordered.is-dark { border-color: #07523d; }

.card.is-dark { background: #07523d; }

.is-dark .nk-wg7-title, .is-dark .nk-wg7-note { color: #abe2d3; }

.user-avatar, [class^="user-avatar"]:not([class*="-group"]) { background: #13dba4; }

.nk-news-item:hover .nk-news-text .icon { color: #13dba4; }

.nk-menu-link:hover, .nk-menu-link:hover .nk-menu-icon, .nk-menu-item.active > .nk-menu-link .nk-menu-icon, .nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon, .nk-menu-link:hover .count, .nk-menu-sub .nk-menu-link:hover, .nk-menu-sub .active > .nk-menu-link, .nk-menu-sm .nk-menu-link:hover, .nk-menu-main .nk-menu-link:hover, .nk-menu-main .nk-menu-link:focus, .nk-menu-main .nk-menu-item.active > .nk-menu-link, .nk-menu-main .nk-menu-item.current-menu > .nk-menu-link, .nk-menu-main .nk-menu-item:hover > .nk-menu-link, .is-light .nk-menu-link:hover, .is-light .active > .nk-menu-link, .active > .nk-menu-link, .active > .nk-menu-link .count, .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active, .nav-tabs .nav-item.active .nav-link, .nk-menu-footer .nk-menu-icon, .nk-menu-footer .nk-menu-link:hover, .nk-footer-copyright a:hover, .nk-sidebar-footer .short-menu .nk-menu-icon, .page-link:hover, .list-plain a:hover, .link-check li a:hover, .link-list a:hover, .link-list-opt a:hover, .link-list-plain a:hover, .link-list-menu li.active > a, .link-list-menu a.active, .link-list-menu a:hover, .link-list-menu li.active > a .icon, .link-list-menu a.active .icon, .link-list-menu a:hover .icon, .link-list-menu li.active > a:after, .link-list-menu a.active:after, .link-list-menu a:hover:after, .list-checked li:before, .list-step li.list-step-current:before, .accordion-s2 .accordion-head .title, .accordion-s3 .accordion-head .title, .badge-outline-primary, .badge-dim.badge-primary, .badge-dot.badge-primary, .badge-dim.badge-outline-primary, .alert-primary, .form-clip, .form-text-hint, .search-submit:hover, .nk-news-icon .icon, .nk-refwg-name .title, .nk-wg1-amount .amount, .nk-wgw-add a .title, .nk-wgw-actions a:hover span, .nk-wgw-actions a:hover .icon, .nk-iv-wg1-info, .nk-wg4-note span, .nk-iv-scheme-item .amount-ex, .nk-kycfm-control:checked ~ .nk-kycfm-label .label-icon, .wallet-item-add a:hover .wallet-icon, .wallet-item-add a:hover .wallet-name, .attach-item .icon, .attach-download:hover span, .ticket-meta .ticket-id strong, .tb-ticket-id, .tb-ftr-plan .icon, .support-topic-details h3, .support-topic-details h4, .support-topic-count, .invoice-desc .title, .invoice-bills .table th, .invoice-contact ul .icon, .nk-reply-meta-info .whom, .nk-msg-tags li > span .icon, .nk-msg-menu-item a:hover, .nk-msg-menu-item.active a, .user-balance, .user-avatar[class*="-primary-dim"], .nk-order-ovwg-data.sell .amount, .nk-order-ovwg-data.sell .title .icon, .nk-wg-action-content p strong, a, .dropzone .dz-message-text span, .nk-switch-icon.active, .link-list-plain a .icon { color: #0fac81; }

a:hover { color: #0c8665; }

.text-primary, .link-primary { color: #0fac81 !important; }

.link-primary:hover { color: #0c8665 !important; }

.border-primary, .nk-kycfm-control:checked ~ .nk-kycfm-label { border-color: #0fac81 !important; }

.bg-lighter { background-color: #f5f6fa !important; }

.bg-primary { background-color: #0fac81 !important; }

.bg-primary-dim { background-color: #e7f7f2 !important; }

.text-primary-dim { color: #e7f7f2 !important; }

.alert-primary, .badge-dim.badge-outline-primary { background-color: #e7f7f2; border-color: #9fdecd; }

.alert-pro.alert-primary, .badge-primary, .sp-package-choose:checked ~ label, .plan-control:checked + .plan-item-card, .form-control:focus, .form-control.focus, .custom-file-input:focus ~ .custom-file-label, .custom-control-input:focus:not(:checked) ~ .custom-control-label::before, .select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container--focus .select2-selection--multiple { border-color: #0fac81; }

.nk-order-ovwg-data.sell, .badge-outline-primary { border-color: #9fdecd; }

.dropdown-menu-s1 { border-top-color: #0fac81; }

.nk-iv-wg2-amount.ui-v2 { border-bottom-color: #0fac81; }

.page-item.active .page-link, .plan-control:checked + .plan-item-card .plan-label, .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:not(:disabled):active ~ .custom-control-label::before { background-color: #0fac81; border-color: #0fac81; }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before, .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before { background-color: #6fcdb3; }

.badge-dim.badge-primary { background-color: #e7f7f2; border-color: #e7f7f2; }

.badge-primary.badge-dot { background: transparent; }

.nk-error-head { background: -webkit-linear-gradient(#0fac81, #0b8160); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.nav-switch .nav-link.active { background: #0fac81; color: #ffffff; }

.icon-avatar, .nk-iv-scheme-icon.is-running { color: #0fac81; background-color: #dbf3ec; }

.is-dark .nk-wgw-icon { background: #3fbd9a; }

.is-dark .nk-wgw-balance .amount-sm, .is-dark .nk-wgw-actions a .icon, .is-dark .nk-wgw-more .btn-trigger, .is-dark .nk-iv-wg2-title .title { color: #abe2d3; }

.is-dark .nk-wgw-actions a { color: #abe2d3; }

.is-dark .nk-wgw-actions { border-color: rgba(171, 226, 211, 0.4); }

.is-dark .nk-wgw-more .btn-trigger:before, .is-theme .nk-quick-nav-icon:before { background-color: #03231a; }

.btn-primary { background-color: #0fac81; border-color: #0fac81; }

.btn-primary:hover { background-color: #0d9973; border-color: #0d906c; }

.btn-primary:focus { background-color: #0d9973; border-color: #0d906c; }

.btn-primary.btn-dim { color: #0fac81; background-color: #e5f6f1; border-color: #e5f6f1; }

.btn-dim.btn-outline-primary { color: #0fac81; background-color: #e5f6f1; border-color: #9fdecd; }

.btn-dim.btn-outline-primary.btn-white { background-color: #ffffff; }

.btn-outline-primary { border-color: #0fac81; color: #0fac81; }

.btn-outline-primary:hover { background-color: #0fac81; border-color: #0fac81; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle { background-color: #0e9e76; border-color: #0d9973; }

.btn-primary:focus, .btn-outline-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary.btn-dim:focus, .btn-primary.btn-dim:not(:disabled):not(.disabled):active, .btn-primary.btn-dim:not(:disabled):not(.disabled):active:focus, .btn-dim.btn-outline-primary:focus, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-primary.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(15, 172, 129, 0.2); }

.btn-outline-light:focus, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(128, 148, 174, 0.1); }

.btn-trigger:focus { box-shadow: none; }

.form-control:focus, .form-control.focus, .custom-control-input:focus ~ .custom-control-label::before, .custom-file-input:focus ~ .custom-file-label, .select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container--focus .select2-selection--multiple { box-shadow: 0 0 0 3px rgba(15, 172, 129, 0.1); }

.form-control-simple:focus { box-shadow: none; }

.btn-primary.btn-dim:not(:disabled):not(.disabled):hover, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary:disabled, .invest-amount-control:checked ~ .invest-amount-label { background-color: #0fac81; border-color: #0fac81; }

.form-focus-none:focus { border-color: transparent; box-shadow: none; }

@media (min-width: 992px) { .nk-menu-main > li > .nk-menu-link:before { background: #0fac81; }
  .is-theme .nk-menu-main > li > .nk-menu-link { color: #abe2d3; }
  .is-theme .nk-menu-main > li > .nk-menu-link.nk-menu-toggle:after { color: rgba(171, 226, 211, 0.7); } }

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover { background-color: #dbf3ec; color: #0fac81; }

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled, .datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled, .datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled], .datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled] { background-color: #72ceb5; }

.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td span:hover, .datepicker table tr td span.focused { background-color: #0fac81; }

.code-tag { color: blue; }

.alert-pro { background: #ffffff; color: #526484; }

.nk-menu-badge { color: #57c5a7; background-color: #e7f7f2; }

.is-theme .nk-sidebar-footer, .nk-apps-sidebar.is-theme, .is-theme .nk-sidebar-profile-fixed { background: #064936; border-color: #0a7859; }

.is-theme .wallet-name, .is-theme .wallet-icon, .is-theme .wallet-balance span, .is-theme .nk-menu-footer .nk-menu-link, .is-theme .sub-text, .is-theme .lead-text span { color: #abe2d3; }

@media (min-width: 1200px) { .nk-sidebar-fat.is-theme .nk-menu > li:hover > a, .nk-sidebar-fat.is-theme .nk-menu > li.active > a, .nk-sidebar-fat.is-theme .nk-menu > li.current-menu > a, .nk-sidebar-fat.is-theme .nk-menu > li > a:hover, .is-theme .wallet-item a:before { background: #096e52; } }

.apps-menu .nk-menu-link:before { background: #0fac81; }

.nav-switch-s2 .nav-link:hover, .nav-switch-s2 .nav-link:focus { color: #526484; }

.nav-switch-s2 .nav-link.active { color: #364a63; }

.active .nk-ibx-menu-text, .active .nk-ibx-menu-item .icon, .nk-reply-form-nav li a:hover, .nk-reply-form-input .toggle-opt:hover { color: #0fac81; }

.nk-ibx-menu li.active { background: #ecf8f5; }

.nk-cov-wg4-list-item.active { background-color: #e2f5f0; }

.nk-cov-wg4-list-item.active .title, .nk-cov-wg4-list-item.active .count { color: #0fac81; }

.nk-fmg-menu li.active { background: #ecf8f5; }

.nk-file-name .asterisk .icon, .nk-file-name-text a.title:hover, .nk-file-link:hover .title, .active .nk-fmg-menu-item .icon, .active .nk-fmg-menu-text { color: #0fac81; }

.nk-files-view-list .nk-file.selected { background-color: #e2f5f0; }
