{% extends "admin/includes/base.html" %}
{% load static %}
{% block title %}Customer{% endblock %}
{% block body_content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">New Customer</h3>
                                </div>
                                <div class="nk-block-head-content">
                                    <div class="toggle-wrap nk-block-tools-toggle">
                                        <div class="toggle-expand-content" data-content="pageMenu">
                                            <ul class="nk-block-tools g-3">
                                                <li class="nk-block-tools-opt">
                                                    <div class="drodown">
                                                        <a href="/view-customer" class="btn btn-icon btn-primary"><em class="icon ni ni-list"></em></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <form method="POST" action="#" class="form-validate is-alter">
                                    {% csrf_token %}
                                    <div class="row g-gs">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Customer Name</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Email Id</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Customer Group</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">GST No</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="preview-block">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="disable_customer">
                                                    <label class="custom-control-label" for="customCheck1">Disable Customer</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="preview-block">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="same_address">
                                                    <label class="custom-control-label" for="customCheck2">Primary and Secondary Address are Same</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary Contact No</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary Contact No</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary Address Line 1</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary Address Line 1</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary Address Line 2</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary Address Line 2</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary City</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary City</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary State</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary State</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary Country</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary Country</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Primary Zipcode</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="customer-name">Secondary Zipcode</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                                                <button type="reset" class="btn btn-lg btn-info">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}