{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <base href="../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Page Title  -->
    <title>{% block title %} {% endblock %}</title>
    <!-- StyleSheets  -->
    {% include "admin/includes/css.html" %}
</head>
<body class="nk-body npc-invest bg-lighter ">
    <div class="nk-app-root">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            {% include "admin/includes/top_bar.html" %}
            <!-- main header @e -->
            <!-- content @s -->
            {% block body_content %}
            {% endblock %}
            <!-- content @e -->
            <!-- footer @s -->
            {% include "admin/includes/footer.html" %}
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    {% include "admin/includes/js.html" %}
    {% block foot_script %}
    {% endblock %}
</body>
</html>