{% extends "desktop/includes/base.html" %}
{% load static %}
{% block title %}Buy Sell{% endblock %}
{% block body_content %}
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="buysell wide-xs m-auto">
                <div class="buysell-nav text-center">
                    <ul class="nk-nav nav nav-tabs nav-tabs-s2">
                        <li class="nav-item">
                            <a class="nav-link" href="html/crypto/buy-sell.html">Buy Coin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sell Coin</a>
                        </li>
                    </ul>
                </div><!-- .buysell-nav -->
                <div class="buysell-title text-center">
                    <h2 class="title">What do you want to buy!</h2>
                </div><!-- .buysell-title -->
                <div class="buysell-block">
                    <form action="#" class="buysell-form">
                        <div class="buysell-field form-group">
                            <div class="form-label-group">
                                <label class="form-label">Choose what you want to get</label>
                            </div>
                            <input type="hidden" value="btc" name="bs-currency" id="buysell-choose-currency">
                            <div class="dropdown buysell-cc-dropdown">
                                <a href="#" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown">
                                    <div class="coin-item coin-btc">
                                        <div class="coin-icon">
                                            <em class="icon ni ni-sign-btc-alt"></em>
                                        </div>
                                        <div class="coin-info">
                                            <span class="coin-name">Bitcoin (BTC)</span>
                                            <span class="coin-text">Last Order: Nov 23, 2019</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                    <ul class="buysell-cc-list">
                                        <li class="buysell-cc-item selected">
                                            <a href="#" class="buysell-cc-opt" data-currency="btc">
                                                <div class="coin-item coin-btc">
                                                    <div class="coin-icon">
                                                        <em class="icon ni ni-sign-btc-alt"></em>
                                                    </div>
                                                    <div class="coin-info">
                                                        <span class="coin-name">Bitcoin (BTC)</span>
                                                        <span class="coin-text">Last Order: Nov 23, 2019</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="buysell-cc-item">
                                            <a href="#" class="buysell-cc-opt" data-currency="eth">
                                                <div class="coin-item coin-eth">
                                                    <div class="coin-icon">
                                                        <em class="icon ni ni-sign-eth-alt"></em>
                                                    </div>
                                                    <div class="coin-info">
                                                        <span class="coin-name">Ethereum (ETH)</span>
                                                        <span class="coin-text">Not order yet!</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- .dropdown-menu -->
                            </div><!-- .dropdown -->
                        </div><!-- .buysell-field -->
                        <div class="buysell-field form-group">
                            <div class="form-label-group">
                                <label class="form-label" for="buysell-amount">Amount to Buy</label>
                            </div>
                            <div class="form-control-group">
                                <input type="text" class="form-control form-control-lg form-control-number" id="buysell-amount" name="bs-amount" placeholder="0.055960">
                                <div class="form-dropdown">
                                    <div class="text">BTC<span>/</span></div>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-indicator-caret" data-toggle="dropdown" data-offset="0,2">USD</a>
                                        <div class="dropdown-menu dropdown-menu-xxs dropdown-menu-right text-center">
                                            <ul class="link-list-plain">
                                                <li><a href="#">EUR</a></li>
                                                <li><a href="#">CAD</a></li>
                                                <li><a href="#">YEN</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-note-group">
                                <span class="buysell-min form-note-alt">Minimum: 10.00 USD</span>
                                <span class="buysell-rate form-note-alt">1 USD = 0.000016 BTC</span>
                            </div>
                        </div><!-- .buysell-field -->
                        <div class="buysell-field form-group">
                            <div class="form-label-group">
                                <label class="form-label">Payment Method</label>
                            </div>
                            <div class="form-pm-group">
                                <ul class="buysell-pm-list">
                                    <li class="buysell-pm-item">
                                        <input class="buysell-pm-control" type="radio" name="bs-method" id="pm-paypal" />
                                        <label class="buysell-pm-label" for="pm-paypal">
                                            <span class="pm-name">PayPal</span>
                                            <span class="pm-icon"><em class="icon ni ni-paypal-alt"></em></span>
                                        </label>
                                    </li>
                                    <li class="buysell-pm-item">
                                        <input class="buysell-pm-control" type="radio" name="bs-method" id="pm-bank" />
                                        <label class="buysell-pm-label" for="pm-bank">
                                            <span class="pm-name">Bank Transfer</span>
                                            <span class="pm-icon"><em class="icon ni ni-building-fill"></em></span>
                                        </label>
                                    </li>
                                    <li class="buysell-pm-item">
                                        <input class="buysell-pm-control" type="radio" name="bs-method" id="pm-card" />
                                        <label class="buysell-pm-label" for="pm-card">
                                            <span class="pm-name">Credit / Debit Card</span>
                                            <span class="pm-icon"><em class="icon ni ni-cc-alt-fill"></em></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .buysell-field -->
                        <div class="buysell-field form-action">
                            <a href="#" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#buy-coin">Continue to Buy</a>
                        </div><!-- .buysell-field -->
                        <div class="form-note text-base text-center">Note: our transfer fee included, <a href="#">see our fees</a>.</div>
                    </form><!-- .buysell-form -->
                </div><!-- .buysell-block -->
            </div><!-- .buysell -->
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="buy-coin">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <div class="nk-block-head nk-block-head-xs text-center">
                    <h5 class="nk-block-title">Confirm Order</h5>
                    <div class="nk-block-text">
                        <div class="caption-text">You are about to get <strong>0.5968</strong> BTC for <strong>500.00</strong> USD*</div>
                        <span class="sub-text-sm">Exchange rate: 1 BTC = 9,804.00 USD</span>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="buysell-overview">
                        <ul class="buysell-overview-list">
                            <li class="buysell-overview-item">
                                <span class="pm-title">Pay with</span>
                                <span class="pm-currency"><em class="icon ni ni-paypal-alt"></em> <span>PayPal</span></span>
                            </li>
                            <li class="buysell-overview-item">
                                <span class="pm-title">Total</span>
                                <span class="pm-currency">500.00 USD</span>
                            </li>
                        </ul>
                        <div class="sub-text-sm">* Our transaction fee are included. <a href="#">See transaction fee</a></div>
                    </div>
                    <div class="buysell-field form-group">
                        <div class="form-label-group">
                            <label class="form-label">Choose what you want to get</label>
                            <a href="#" class="link">Add Wallet</a>
                        </div>
                        <input type="hidden" value="btc" name="bs-currency" id="buysell-choose-currency-modal">
                        <div class="dropdown buysell-cc-dropdown">
                            <a href="#" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown">
                                <div class="coin-item coin-btc">
                                    <div class="coin-icon">
                                        <em class="icon ni ni-sign-btc-alt"></em>
                                    </div>
                                    <div class="coin-info">
                                        <span class="coin-name">BTC Wallet</span>
                                        <span class="coin-text">1X38 * * * * YW94</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                <ul class="buysell-cc-list">
                                    <li class="buysell-cc-item selected">
                                        <a href="#" class="buysell-cc-opt" data-currency="btc">
                                            <div class="coin-item coin-btc">
                                                <div class="coin-icon">
                                                    <em class="icon ni ni-sign-btc-alt"></em>
                                                </div>
                                                <div class="coin-info">
                                                    <span class="coin-name">BTC Wallet</span>
                                                    <span class="coin-text">1X38 * * * * YW94</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li> <!-- .buysell-cc-item -->
                                    <li class="buysell-cc-item">
                                        <a href="#" class="buysell-cc-opt" data-currency="eth">
                                            <div class="coin-item coin-eth">
                                                <div class="coin-icon">
                                                    <em class="icon ni ni-sign-eth-alt"></em>
                                                </div>
                                                <div class="coin-info">
                                                    <span class="coin-name">Ethereum (ETH)</span>
                                                    <span class="coin-text">Not order yet!</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li> <!-- .buysell-cc-item -->
                                </ul>
                            </div>
                        </div><!-- .dropdown -->
                    </div><!-- .buysell-field -->
                    <div class="buysell-field form-action text-center">
                        <div>
                            <a href="#" class="btn btn-primary btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#confirm-coin">Confirm the Order</a>
                        </div>
                        <div class="pt-3">
                            <a href="#" data-dismiss="modal" class="link link-danger">Cancel Order</a>
                        </div>
                    </div>
                </div><!-- .nk-block -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->
<!-- @@ Confirm Coin Modal @e -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirm-coin">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Successfully sent payment!</h4>
                    <div class="nk-modal-text">
                        <p class="caption-text">You’ve successfully bought <strong>0.5968</strong> BTC for <strong>200.00</strong> USD.</p>
                        <p class="sub-text-sm">Learn when you reciveve bitcoin in your wallet. <a href="#"> Click here</a></p>
                    </div>
                    <div class="nk-modal-action-lg">
                        <ul class="btn-group gx-4">
                            <li><a href="html/crypto/buy-sell.html" class="btn btn-lg btn-mw btn-primary">Return</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>Earn upto $25 for each friend your refer! <a href="#">Invite friends</a></p>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->
{% endblock %}