{% extends "desktop/includes/base.html" %}
{% load static %}
{% block title %}Items{% endblock %}
{% block body_content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="title nk-block-title">Asset Item</h4>
                            </div>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <form action="#" class="form-validate is-alter">
                                	{% csrf_token %}
                                    <div class="row g-gs">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="item-name">Item Name</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="item_name" name="item_name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="item-group">Item Group</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="item_group" name="item_group" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="asset-category">Asset Category</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="asset_category" name="asset_category" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="item-uom">Item UOM</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="item_uom" name="item_uom" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-lg btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div><!-- .components-preview -->
            </div>
        </div>
    </div>
</div>
{% endblock %}