{% extends "desktop/includes/base.html" %}
{% load static %}
{% block title %}Items Group{% endblock %}
{% block body_content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head nk-block-head-sm">
                            <div class="nk-block-between">
                                <div class="nk-block-head-content">
                                    <h3 class="nk-block-title page-title">Item Group</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>You have total 0 rows.</p>
                                    </div>
                                </div><!-- .nk-block-head-content -->
                                <div class="nk-block-head-content">
                                    <div class="toggle-wrap nk-block-tools-toggle">
                                        <div class="toggle-expand-content" data-content="pageMenu">
                                            <ul class="nk-block-tools g-3">
                                                <li class="nk-block-tools-opt">
                                                    <div class="drodown">
                                                        <a href="/create-group" class="btn btn-icon btn-primary"><em class="icon ni ni-plus"></em></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <table class="datatable-init table">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Group</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for group_list_val in group_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{group_list_val.item_group}}</td>
                                            <td><a href="edit-group/{{ group_list_val.id }}" class="btn btn-icon btn-warning"><em class="icon ni ni-edit"></em></a> | <a href="delete-group/{{ group_list_val.id }}" class="btn btn-icon btn-danger"><em class="icon ni ni-cross"></em></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}