{% extends "desktop/includes/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block body_content %}
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub"><a class="back-to" href="html/crypto/profile.html"><em class="icon ni ni-arrow-left"></em><span>My Profile</span></a></div>
                    <h2 class="nk-block-title fw-normal">Login Activity</h2>
                    <div class="nk-block-des">
                        <p>Here is your last 20 login activities log. <span class="text-soft"><em class="icon ni ni-info" data-toggle="tooltip" data-placement="right" title="activities log"></em></span></p>
                    </div>
                </div>
            </div><!-- nk-block-head -->
            <div class="nk-block">
                <div class="nk-block-title-group mb-3">
                    <h6 class="nk-block-title title">Activity on your account</h6>
                    <a href="#" class="link link-danger">Clear log</a>
                </div>
                <div class="card card-bordered">
                    <table class="table table-ulogs">
                        <thead class="thead-light">
                            <tr>
                                <th class="tb-col-os"><span class="overline-title">Browser <span class="d-sm-none">/ IP</span></span></th>
                                <th class="tb-col-ip"><span class="overline-title">IP</span></th>
                                <th class="tb-col-time"><span class="overline-title">Time</span></th>
                                <th class="tb-col-action"><span class="overline-title">&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tb-col-os">Chrome on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">11:34 PM</span></td>
                                <td class="tb-col-action"></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Mozilla on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                <td class="tb-col-time"><span class="sub-text">Nov 20, 2019 <span class="d-none d-sm-inline-block">10:34 PM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Chrome on iMac</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">Nov 12, 2019 <span class="d-none d-sm-inline-block">08:56 PM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Chrome on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">Nov 03, 2019 <span class="d-none d-sm-inline-block">04:29 PM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Mozilla on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                <td class="tb-col-time"><span class="sub-text">Oct 29, 2019 <span class="d-none d-sm-inline-block">09:38 AM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Chrome on iMac</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">Oct 23, 2019 <span class="d-none d-sm-inline-block">04:16 PM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Chrome on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">Oct 15, 2019 <span class="d-none d-sm-inline-block">11:41 PM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Mozilla on Window</td>
                                <td class="tb-col-ip"><span class="sub-text">86.188.154.225</span></td>
                                <td class="tb-col-time"><span class="sub-text">Oct 13, 2019 <span class="d-none d-sm-inline-block">05:43 AM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                            <tr>
                                <td class="tb-col-os">Chrome on iMac</td>
                                <td class="tb-col-ip"><span class="sub-text">192.149.122.128</span></td>
                                <td class="tb-col-time"><span class="sub-text">Oct 03, 2019 <span class="d-none d-sm-inline-block">04:12 AM</span></span></td>
                                <td class="tb-col-action"><a href="#" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>
                            </tr>
                        </tbody>
                    </table><!-- .table -->
                </div><!-- .card -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>
{% endblock %}